html {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

body > .app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

details summary {
	cursor: pointer;
}

pre.CodeRay {
	background-color: #eee;
	border-radius: 5px;
	padding: 1em;
}

input[type="checkbox"] {
	min-width: 24px;
	min-height: 24px;
	vertical-align: middle;
}

.icon-language {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}
